.calculator {
    display: grid;
    width: 350px;
    margin: 0 auto;
    background-color: black;
    border: 2px solid gray;
    border-radius: 3px;
}

.display {
    background-color: rgb(116, 163, 116);
    margin: 5px;
    border-radius: 1px;
}
.display > * {
    min-height: 18px;
    text-align: end;
    padding-right: 5px;
}

.buttons {
    margin: 5px;
}

button {
    width: 24%;
    height: 64px
}

.other-buttons {
    margin-top: 5px;
    display: flex;
    justify-content:space-evenly

}